name: build

on:
  push:
    branches:
      - master
      - patch-*
      - feature-*
      
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses : actions/checkout@v4
    - name : Run unittest
      run: cargo test -- --no-capture
      
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Fetch
      run: cargo fetch
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
